@font-face {
  font-family: "Paws";
  src: url(fonts/PawWowBlock-VGMDl.otf);
}

@font-face {
  font-family: "HabitaScenic";
  src: url(fonts/HabitaScenic.otf);
}

@font-face {
  font-family: "Myriad";
  src: url(fonts/Myriad.ttf);
}

@font-face {
  font-family: "Barabara";
  src: url(fonts/BARABARA.otf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-inner .carousel-item img {
  height: 100vh;
  width: 100%;
}